<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="PCIPAddress" value="172.31.0.51"/>
    <add key="EMailId" value="tech@gmobility.com"/>
    <add key="EMailIdPassword" value="Gms$@123"/>
    <add key="TicketSystemLink" value="http://intra.gmobility.com/TicketSystem/"/>
    <add key="TextFileFolderPath" value="C:\Text Files\"/>
    <add key="RETFilesFolderPath" value="C:\Text Files\Antenna Platform\"/>
    <add key="LogFileFolderPath" value="C:\Text Files\LogFile\"/>
    <add key="ExportRetScriptFolderPath" value="Antenna Files/Ret Script File/"/>
    <add key="ExportSummaryFolderPath" value="Antenna Files/Export File/Summary/"/>
    <add key="ExportDetailFolderPath" value="Antenna Files/Export File/Detail/"/>
    <add key="AntennaUploadFolderPath" value="Antenna Files/Input File/"/>
    <add key="ProjectFileUploadFolderPath" value="Antenna Files/Input File/Project Files/"/>
    <add key="ContractorFileUploadFolderPath" value="Antenna Files/Input File/Contractor Files/"/>
    <add key="PlatformFileUploadFolderPath" value="Antenna Files/Input File/Platform Files/"/>
    <add key="AntennaProjectFileUploadFolderPath" value="Antenna Files/Input File/Antenna Project Files/"/>
    <add key="DumpFileFolderPath" value="DumpFile/"/>
    <add key="EmailPagePath" value="http://intra.gmobility.com/ILWI_Antenna/"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0;HDR={1};IMEX=2'"/>
    <add name="SqlConnection" connectionString="server=localhost;Port=3306;User Id=root;password=;database=AntennaDB;max pool size=1000;Convert Zero Datetime=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.7.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Data.Entity, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
        <add assembly="MySql.Web, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
        <add assembly="MySql.Data, Version=5.0.9.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
       <!-- <add assembly="MySql.Data.Entity, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/> -->
     <!--   <add assembly="MySql.Web, Version=6.9.7.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>